<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>
<html>

<head>
  <script defer src="https://use.fontawesome.com/releases/v6.4.2/js/all.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <h2>About Me</h2>
    <img class="about-image" src="/img/Digitalphoto.JPG" alt="Yuta Iwahashi" />
    <br>
    <table>
      <tr>
        <td><strong>Name:</strong></td>
        <td>Yuta Iwahashi</td>
      </tr>
      <tr>
        <td><strong>About Me:</strong></td>
        <td>
          My name is Yuta Iwahashi. I'm a student at Centennial College studying software engineering technology.
          <br>
          I enjoy playing games. With the recent advancements in technology, many new and innovative games have been developed.
        </td>
      </tr>
      <tr>
        <td><strong>Education:</strong></td>
        <td>I'm pursuing a degree in Software Engineering Technology at Centennial College, where I'm gaining expertise in programming, software development, and problem-solving skills.</td>
      </tr>
      <tr>
        <td><strong>Interests:</strong></td>
        <td>Aside from technology, I have a passion for photography, and I enjoy capturing the beauty of the world through my lens. I also love exploring new places and trying different cuisines.</td>
      </tr>
      <tr>
        <td><strong>Projects:</strong></td>
        <td>During my studies, I've worked on various software projects, including web applications and mobile apps. These experiences have provided me with practical knowledge in software development.</td>
      </tr>
    </table>
  </div>
</body>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>
</html>
