<%- include ('partials/header.ejs') %>

  <%- include ('partials/main_nav.ejs') %>
<html>

<head>
  <script defer src="https://use.fontawesome.com/releases/v6.4.2/js/all.js"></script>
  <link rel="stylesheet" href="/css/style .css">
</head>

<body>

  <div>
    <h2>Contact Me</h2>
    <table>
      <tr> 
        <td>Contact number  <a href="tel:(+1)416-839-6704"><i class="fa-solid fa-phone"></i></a></td>
        <td><a href="tel:(+1)416-839-6704">(+1)416-839-6704</a></td>
      </tr>
      <tr>
        <td>Instgram ID <a href="https://www.instagram.com/mikan_orange2021/"><i class="fa-brands fa-instagram"
          style="color: #d56cbf;"></i></a></td>
        <td>mikan_orange2021</td>
      </tr>
      <tr>
        <td>Line ID <a href="https://line.me/ti/p/h33oiNqGVU"><i class="fa-brands fa-line" style="color: #69e86b;"></i></a></td>
        <td>na-ta0528</td>
      </tr>
      <tr>
        <td>Email <a href="mailto:yuta0528nata@gmail.com"><i class="fa-regular fa-envelope"></i></a></td>
        <td><a href="mailto:yuta0528nata@gmail.com">yuta0528nata@gmail.com</a></td>
      </tr>
    </table>
  </div>
</body>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>
</html>