<%- include ('partials/header.ejs') %>

  <%- include ('partials/main_nav.ejs') %>
    <html>

    <head>
      <link rel="stylesheet" href="/css/style .css">
      <script defer src="https://use.fontawesome.com/releases/v6.4.2/js/all.js"></script>
    </head>

    <body>

      <div>
        <h2>Projects</h2>
        <table>
          <tr>
            <td>
              <strong>Inventory Tracking System</strong><br>
              Design of APP and website.
              <br>
              Role: Design
            </td>
          </tr>
          <tr>
            <td>
              <strong>Translater</strong><br>
              Make translater with group.
              <br>
              Role: Implentation
            </td>
          </tr>
          <tr>
            <td>
              <strong>Awesome LapDe</strong><br>
              Designed and built an innovative mobile app for tracking and analyzing lap times and performance metrics
              in motorsports.

              <br>
              Role: Design, Documentation, Implentation
            </td>
          </tr>
        </table>
      </div>
    </body>
    <%- include ('partials/bottom_nav.ejs') %>

      <%- include ('partials/footer.ejs') %>

    </html>