<%- include ('partials/header.ejs') %>

<%- include ('partials/main_nav.ejs') %>

<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v6.4.2/js/all.js"></script>
</head>

<body>
  <div class="container">
    <h2>Our Services</h2>
    <p>Welcome to our services page, where we offer a range of digital solutions to meet your needs. Whether you're looking to establish an online presence, develop web applications, or create stunning website designs, we've got you covered. Here's what we can do for you:</p>
    <ol>
      <li>Website Development: We build responsive and user-friendly websites tailored to your business goals.</li>
      <li>Web App Development: Our team creates powerful web applications to streamline your operations and engage your audience.</li>
      <li>Website Design: We craft visually appealing and functional website designs to leave a lasting impression on your visitors.</li>
    </ol>
    <p>If you have any questions or would like to discuss your project, please feel free to <a href="/contact">contact us</a>.</p>
  </div>
</body>

<%- include ('partials/bottom_nav.ejs') %>

<%- include ('partials/footer.ejs') %>

</html>
